
#po{
   
    color: blue;
    font-family: cursive
}
#pi{
    font-family:Arial, Helvetica, sans-serif;
    color: red;
    
}
#pu{
    font-family: fantasy;
    color: darkmagenta;
   
}
.botton{
    background-color: #199319;
  color: white;
  bottom: 2rem;
}